body{
    overflow-x: hidden;
}
.logo{
    width: 60%;
}
.how{
    margin-left: -15%;
}
.second-nav-div1{
    padding-left: 7%;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.landing-page{
  margin-bottom: 50%;
    height: 100%;
    background-color: black;
    position: relative;
}
.landing{
    position: absolute;
}


.landing-words{
    padding-left: 3%;
    padding-top: 10%;
    color: white;
    position: absolute;
    /* top: 30%; */
    z-index: 99;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    height: inherit;
}
.landing-words h1{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 5%;
}
.landing-words ul{
    font-size: 20px;
}
.mobile-img{
    display: none;
}
.second-page{
    background-image: url("./images/make-it-real-bg-ld.webp");
    background-position: center;
    height: 150vh;
    padding: 5% 2%;
    
}
.second-page-nav{
    padding-left: 6%;
    display: flex;
    align-items: center;
    gap: 3%;
    height: 10%;
    width: 100vw;
}
.second-page-nav2{
    display: flex;
    align-items: center;
    gap: 3%;
    /* height: inherit; */
    width: inherit;
}
.second-main-body{
    display: flex;
}
.second-main, .fourth-main{
    border-left: 3px solid #25A0E4;
    white-space: nowrap;
}

.big-text{
    font-size: 50px;
    margin:  5% 0;
}

.second-main-left-grid{
    margin-top: 3%;
}
.second-main-left-grid1  h3{
    font-weight: 700;
}
.second-main-left-grid1 p{
    word-spacing: 0.1px;
    margin-top: 5%;
    font-size: 17px;
}
.second-main-right{
    width: 30%;
    position: relative;
}
.second-main-right-content{
    position: absolute;
    top: 55%;
    left: 27%;
}
.reality{
    padding-top: 5%;
}
.third-page{  
    
    display: flex; 
    padding: 5% 10%;
    height: 100%;
    background-color: black;
}

.third-page button{
    font-size: 10px;
}
.third-page-right-content-adv, .third-page-left-content-adv{
    line-height: 0.3;
}
.third-page-right-content-adv h6,.third-page-left-content-adv h6{
    font-size: 10px;
    
}
.third-page-right-content-adv p, .third-page-left-content-adv p{
    font-size: 10px;
}
.secondChild{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-right: 1%;
    white-space: nowrap;
    background-color: white;
    
}
.show{
    display: none;
}
.effect{
    transition: transform 1s;
}
.effect:hover{
    transform: scale(1.2);
}
.effect:hover .show{
    display: block;
}
.fourth-page{
    
    padding: 5%;
    background-image: url("./images/global-talent-bg-ld.webp");
    height: 100%;
}
.fifth-page{
    /* padding-top: 10%; */
    height: 100%;
    background: black;
}
.sixth-page{
    padding: 5%;
    height: 100%;
    display: flex;
    gap: 2%;
    background-color: black;
    
}
.sixth-page ul{
    list-style: none;
    line-height: 2;
}
.sixth-page-right1 a:hover{
    color: #25A0E4;
    text-decoration: underline;
}
.sixth-page-right1 a{
font-size: 13px;
color: white;
text-decoration: none;
}
.seventh-page{
    padding: 5%;
    background-image: url("./images/ai-business-bg-ld.jpg");
    background-position: center;
    height: 100%;
}

.ninth-page{
    padding: 5%;
    background-image: url("./images/enterprise-upsell-v5-desktop-test.webp");
    background-position: center;
    height: 100vh;
}
.ninth-page p{
    font-size: 20px;
}
.first-item h1{
    font-size: 55px;
}
.footer{
    line-height: 0.2;
    border-top: 1px solid  lightgray;
}
.footer-third p{
    
    font-size: 10px;
}

















